html 
    

/*

body { color: blue; 
background-color: darkcyan; }

*/

h1 {
    color : green;
    background-color: antiquewhite;
    font-family: 'arial';
}

.cis-260 {
    color: cadetblue;
    font-family: cursive
}

.test {
    background-color: aliceblue
}

.link {
    background-color: green
}
h2 { 
    font-family: sans-serif;
    font-weight: 600; }
}

p { 
    color : #FF0000;
    font-size: 33pt;
background-color: azure; }

#special-paragraph {
    color:#0000ff;
}




