html {
    color: fuchsia;
}
/*

body { color: blue; 
background-color: darkcyan; }

*/

h1 {
    color : green;
    background-color: antiquewhite;
    font-family: 'arial';
}

h2 { 
    font-family: sans-serif;
    font-weight: 600; }
}

p { color : orange;
background-color: azure; }

a { color: red; }

